#scrollBar {
    display: block;
    min-height: 25px;
    width: 1%;
    background: rgba(0, 151, 19, 0.6);
    border-radius: 5px;
    overflow: hidden;
    position: fixed;
}

#readTime {
    display: block;
    overflow: hidden;
    position: fixed;
    opacity: 0.4;
    color: green;
}

.content {
    padding-top: 30px;
}