#scrollBar {
    display: block;
    min-height: 25px;
    width: 25%;
    background: rgba(0, 151, 19, 0.6);
    border-radius: 5px;
    top: 0;
    overflow: hidden;
    position: fixed;
}

.content {
    padding-top: 30px;
}